* {
    font-family: "Mulish", sans-serif;
}

.background-3 {
    overflow-x: hidden;
    margin-top: -30px;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://s3-alpha-sig.figma.com/img/4cdb/8736/e25c4a8ef70ebb42e0b3ab4bf3a2a8cb?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Y-H6Sc-mi1xav96f~Q2KfgF2zwU8-GGulQy-2oCdx6mqNOW3rartMkED3d56LsJH0ZJqxR0Rl6lLjjWEItPoMNtzBlz8xOJ5v1g8pnywxed~IVBoGkJ323YB6dv71rdz7q~Jk2E~7OJgEKSO47ZD-oio~Sr6FnbM7MCQdW2PVtIYJTMZoW81tx~j79TQSD-JEVUyWY6I5DJuLZYt9Le5QVlrvaVAq913KVg3z9A3mWQqC5lDqhraDQeog6EEdNIgQtDTCluQFjxHiCC2OZywgBjXy4mjVlvx6sDLUcPGPE9NRpQ8oAxPDgowa4GzCRbK6CRqHO9kykdNe3XaWCFCTA__);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background-3::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.38) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, #0d0d0d 100%);
}

.background-1 {
    overflow-x: hidden;
    margin-top: -30px;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://s3-alpha-sig.figma.com/img/0647/d54b/a73ab84a1855004de31c050a3f21a5a6?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=E~q6g6r7DOLxUui1iLX7AV2uCNBSn9W8nRqBMsy8VeI1HdjVeaZPhS9YRP00THha4rNtO5Vkz-jlW2kCSHy0z6XB37Cz0tU2gsVV9vNEuGoNPSgOAEmoF-5UN1nr4cAlwXA5k~g79rikS3gsVgqlQW9JdF4uLXQYSmJ2zrV0sjhDA90e-hDvaVQRqlFapMCB-kUAnyE-8-RuWK8m40wXUndxpsX1aCCmrf-fUnDjrsEeUW7cNIdxxY0Yc9doU2GTzEfOPPDagkhI8utaN0ITG5ZrZ1AYiwLLar9q5bOsqWtUGq6adIFiUSOrudkIV2oi5zVJaTn4bLyeDPYOStdlng__);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.background-1::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.38) 0%,
            rgba(0, 0, 0, 0) 100%
        ),
        linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, #0d0d0d 100%);
}
header {
    z-index: 1;
    height: 80px;
    background: rgba(13, 13, 13, 0.24);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
}
.header-left {
    margin-left: 120px;
}
header a {
    margin-left: 36px;
    text-decoration: none;
    color: var(--White, #fff);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.header-right {
    margin-left: 400px;
}

.btnReport {
    border: none;
    color: white;
    border-radius: 100px;
    background: var(--Light-primary, #009571);
    margin-left: 15px;
    padding: 12px 24px;
    cursor: pointer;
}

.btnReport + .btnReport {
    border: none;
    color: white;
    border-radius: 100px;
    background-color: #2c313e;
    padding: 12px 24px;
    margin-right: 30px;
    margin-top: 10px;
}

.icon {
    margin-left: 330px;
    padding: 12px 12px;
    border-radius: 100px;
    background: #2c313e;
    backdrop-filter: blur(10px);
}

.banner {
    margin-top: 130px;
    backdrop-filter: blur(2px);
}

.banner span {
    color: #09cea0;
}

.banner h1 {
    color: white;
}

.banner p {
    margin: auto;
    margin-top: 24px;
    width: 941px;
    color: var(--Light-Stroke, #e4e4e4);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}
.banner form {
    margin-top: 36px;
}
.banner input {
    color: white;
    width: 400px;
    outline: none;
    caret-color: white;
    background: rgba(255, 255, 255, 0.12);
    padding: 12px 24px;
    border: none;
    border-radius: 100px 0 0 100px;
}

.banner > form > button {
    position: relative;
    margin-left: -4px;
    color: white;
    background: rgba(255, 255, 255, 0.12);
    padding: 12px 24px;
    border: none;
    border-radius: 0 100px 100px 0;
}

.banner form button #btndiv {
    left: 0;
    position: absolute;
    background-color: #fff;
    height: 20px;
    width: 1px;
}

.slide {
    margin-left: -120px;
    width: 130%;
    backdrop-filter: blur(2px);
    margin-top: 100px;
    display: flex;
    transition: transform 0.5s ease;
}
.main {
    position: relative;
    width: 200px;
    margin-left: 32px;
}
.text {
    width: 100px;
}
.over {
    position: absolute;
}

.overlay1 {
    top: 0;
    left: 0px;
    z-index: 1;
}

.overlay2 {
    top: 8px;
    left: 8px;
    z-index: 2;
}

.text {
    z-index: 3;
    top: 110px;
    left: 50px;
}

.arrow {
    position: absolute;
    top: 686px;
}

.button:hover {
    cursor: pointer;
}

.arrow img {
    margin-left: 400px;
    padding: 6px;
    align-items: flex-start;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.16);
    gap: 10px;
}

.arrow img + img {
    margin-left: 1000px;
}

.body {
    position: relative;
    backdrop-filter: blur(2px);
    background: #0c0d0e;
    margin-top: 120px;
    height: 900px;
}

.body .content {
    margin-left: 24px;
    position: relative;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.07);
    width: 400px;
    height: 170px;
    padding: 24px;
    margin-top: 30px;
}

.body .content p {
    color: white;
}

.body .content span {
    color: #b5ab9a;
    margin-right: 5px;
}
p img {
    margin-top: -5px;
}

.content button {
    margin-top: 15px;
    width: 100%;
    border: none;
    color: white;
    border-radius: 100px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(10px);
}
.content > img {
    position: absolute;
    top: 15px;
    right: 15px;
}
.contenter {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    margin-left: 96px;
}

.hanhtinh {
    position: absolute;
}

.hanhtinh1 {
    top: 570px;
    opacity: 0.48;
    mix-blend-mode: luminosity;
}

.hanhtinh2 {
    top: 200px;
    right: 0px;
}

.hanhtinh3 {
    top: 100px;
    filter: brightness(80%);
    left: 500px;
}

.arrow-up span {
    color: var(--Light-White, #b5ab9a);
    font-family: Mulish;
    font-size: 11px;
    font-weight: 500;
}

.arrow-up {
    height: 58.5px;
    border-radius: 12px 12px 0 0;
    border: 1px solid rgba(181, 171, 154, 0.6);
    background: rgba(255, 255, 255, 0.07);
    right: 20px;
    top: 30px;
    padding: 4px 12px;
}

.logomess {
    width: 77.97px;
    border-radius: 0 0 12px 12px;
    border: 1px solid rgba(181, 171, 154, 0.6);
    background: rgba(255, 255, 255, 0.07);
    right: 20px;
    top: 88px;
    padding: 4px 12px;
}
.logomess span {
    color: var(--Light-White, #b5ab9a);
    font-family: Mulish;
    font-size: 11px;
    font-weight: 500;
}

.new-comments {
    padding: 60px;
    background-color: #0d0d0d;
    width: 100%;
}

.new-comment {
    margin-top: 30px;
    margin-left: 96px;
    display: flex;
    color: var(--Light-White, #b5ab9a);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.new-comment p {
    width: 300px;
}
.new-comment img {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 100px;
}

.new-comment:not(:first-of-type) p {
    color: white;
}

.new-comment:not(:first-of-type) span {
    color: var(--Blue, #0989ff);
    /* 16 Reg */
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p img {
    margin-right: 12px;
}

#nomargin {
    margin: 0;
    height: 1200px;
}

#nomargin img {
    border-radius: 100px;
    height: 60px;
    width: 60px;
}

#nomargin p span {
    color: var(--Light-Stroke, #e4e4e4);
    /* 20 Med */
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#nomargin p + p {
    color: var(--Light-White, #b5ab9a);
    /* 16 Med */
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#nomargin .content {
    height: 270px;
}

.content:hover {
    background: rgba(255, 255, 255, 0.24);
    cursor: pointer;
}

.link {
    width: 300px;
    word-wrap: break-word;
}

.none {
    text-decoration: none;
}

.noibat {
    backdrop-filter: blur(2px);
    overflow-x: hidden;
    margin-top: -30px;
    position: absolute;
    top: 4600px;
    width: 100%;
    height: 100%;
    background-image: url(https://s3-alpha-sig.figma.com/img/fa65/2264/d5147a0852ef682f325c68ac7890c9ec?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bcSLT2mrI10TdESNyfWIWSZjjeaM3NxZAmfFMRs5k3DcUPLpf6B7mkj9byvga9OwuwkS0qlaF2SgmVCrKD9m3IWhIHvgBHYUj0Npu36ifXIpO~PxT6EnFDwyq~a4oueAwrgFGXC25c5cQkT09XzBRj1x5FyyQIKp5gChwpo9WDkpRXJ44LR0Ja~DuPHPKHsJInhS1ApxPRqiJA7sytJ~4mxt82TCL5M1UEy7clSgmQkwH8v7NWJWTsKnEaxN1Ji0hX1~UAuwoIAlzg7h7h1goOrDPPHwtv8TFnbS6dJSuPdDiu-WXoI4otPrEBbKWq2q3ZoicRH0QMKtBUChtiw-Ew__);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.noibat::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #0d0d0d 0%, rgba(13, 13, 13, 0) 100%);
}

.check {
    color: white;
}

.noibat h1 {
    backdrop-filter: blur(2px);
    margin-top: 100px;
    color: #b5ab9a;
    text-align: center;
    font-family: Mulish;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.noibat > p {
    backdrop-filter: blur(2px);
    color: var(--Light-White, #b5ab9a);
    text-align: center;
    /* 16 Reg */
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.check {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
}

.check-left {
    padding: 36px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(10px);
}

.check-left p {
    width: 500px;
    color: var(--Light-Stroke, #e4e4e4);
    /* 16 Reg */
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
}

.check-left {
    width: 552px;
    max-width: 552px;
}

.check img {
    padding: 10px;
    border-radius: 100px;
    border: 1px solid var(--Light-primary, #009571);
}

.check-left h3 {
    margin-top: 24px;
}

.check-left p {
    margin-top: 24px;
}

.check-left a {
    margin-top: 24px;
    border-radius: 100px;
    background: var(--Light-primary, #009571);
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer {
    backdrop-filter: blur(1px);
    background-color: #0d0d0d;
    width: 100%;
    height: 300px;
}

.div {
    display: flex;
    padding-top: 50px;
    margin-left: 120px;
}

.footer1 p {
    margin-top: 20px;
    width: 250px;
    color: var(--Light-White, #b5ab9a);
    text-align: justify;
    /* 16 Reg */
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer2 {
    margin-left: 56px;
    color: var(--Light-White, #b5ab9a);
}

.footer3 {
    margin-left: 142px;
    color: var(--Light-White, #b5ab9a);
}

.footer4 {
    margin-left: 313px;
}

#home {
    cursor: pointer;
}

#search2 {
    display: none;
    color: white;
    z-index: 100;
    text-align: left;
    height: 300px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 700px;
    top: 420px;
    bottom: -20px;
    backdrop-filter: blur(10px);
    width: 500px;
    padding: 12px 24px;
}

#search2 div {
    cursor: pointer;
    width: 110.7%;
    border-radius: 5px;
    margin-left: -24.3px;
    padding: 10px 20px;
    color: var(--Light-Stroke, #e4e4e4);
    /* 16 Reg */
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#search2 div:hover{
    background: rgba(255, 255, 255, 0.12);
}
